.cls {
    clear: both;
}

.content {
    background: gray;
    align-items: center;

}

body {
    background: gray;
    align-items: center;
}

header {
    background: orangered;
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    color: black;
}

.info_tag {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.cbc_news {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 250px;
    font-size: 25px;
    align-items: center;

    border-width: 2px;
    border-color: blue;
}

.ctv_news {
    margin: 20px auto;
    width: 250px;
    font-size: 25px;
    align-items:center;

    border-width: 2px;
    border-color: blue;
}

#button_block {
    height: 350px;
    width: 850px;
    position: relative;
    border: 1px solid;
    border-color: white;
    padding-left: 40%;
}

.cont_us_link {
    position: absolute;

    border-top: 12px;
    align-items: bottom;
    text-align: center;
    
}

.footer_info {

    color: White;
    font-size: 21px;
    text-align: center;
}

#contact_us_id {

    text-decoration-color: black;
}