{% extends 'base.html' %}

{% block content %}
<h1>Hello World</h1>
    <!-- <h1>Queries</h1>


    <label>
        <input  type="text" label="User Name" placeholder="Enter your User Name">
    </label>
    <br />
    <label>
        <input  type="email" placeholder="Enter your email Id:">
    </label>
    <br />
    <label>
        <input type="text" placeholder="Enter your Queries over here." >
    </label>
    <br />

    <span>
    <button id="submit_query" type="submit">Submit</button>
    <button id="reset_query" type="reset">Reset</button>
    </span>

    <div id="team_mem_head">
    <h1>Team Members</h1>
    </div>

    <div id="members_pics">
    <span>
    <img src="{{url_for('templates', filename='Aykut.jpg') }}" , height="175" />
    <img src="{{url_for('templates', filename='Lokesh.JPG') }}" , height="175" />
    <img src="{{url_for('templates', filename='Manan.JPG') }}" , height="175" />
    </span>
    </div>

    <div id="team_members">
    <h3>Aykut   Lokesh Yadav      Manan Bhavsar</h3>
    </div>
    </body>
     -->

{% endblock  %}